.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url(trang.jpg);
  height: 700px;
}
.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url(anh-mat-trang-8.jpg);
  height: 700px;
}
.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url(anh-mat-trang-10.jpg);
  height: 700px;
}
